/* #2196F3 */
/* #212121 */
/* #757575 */
/* #FFFFFF */
/* rgba(255, 255, 255, 0.6); */
/* #000000 */
/* #F5F4FA */

/* ----------------HEADER------------------- */

/* -------------------MAIN SECTION--------------------- */

/* -----------PORTFOLIO LIST---------- */

/* -------------FOOTER------------------ */

/* .modal-form-input:hover {
  border-color: var(--accent-color);
  outline: none;
} */

/* .input-wrap:hover {
  fill: var(--accent-color);
} */
